#mySection {
	width: 50%;
	padding: 50px 0;
	text-align: center;
	background-color: rgb(0, 197, 223);
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
h2 {
	color: whitesmoke;
}
h3 {
	color: whitesmoke;
}
p {
	color: whitesmoke;
}
.hidden {
	display: none;
}
.show {
	display: block;
}
#btnRestart {
	background-color: teal;
	float: left;
}
.ccbutton {
	/* s */
	background-color: rgb(0, 197, 223);
	color: whitesmoke;
	border: 5px solid white;
	margin: 10px;
	padding: 10px;
	font-size: large;
	width: 80%;
}
.mypicklist {
	margin-left: 30%;
}
