#mySection {
	width: 50%;
	padding: 50px 0;
	text-align: center;
	background-color: rgb(0, 197, 223);
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
h2 {
	color: whitesmoke;
}
p {
	color: whitesmoke;
}
/* #countryPage {
	display: none;
}
#otherPage1 {
	display: none;
}
#otherPage2 {
	display: none;
}
#ccRepPage {
	display: none;
}
#shltrsUsaPage {
	display: none;
}
#shltrsOtherPage {
	display: none;
}
#artistPage {
	display: none;
} */

.hidden {
	display: none;
}
.show {
	display: block;
}

#btnRestart {
	background-color: teal;
	float: left;
}
.ccButton {
}
